@font-face{
	font-family:'feature_font';
	src:url('assets/fonts/Cicle Semi.ttf');	
}
@font-face{
	font-family:'para_font';
	src:url('assets/fonts/Aileron-Light.otf');
}


button:focus {
	outline:0 !important;
}

.member_font{

	font-size:28px;
	color:#fff;
	margin:10px 0 0 0;	
}
  a:link{
	  text-decoration: none;
  }





/*==== slide animation===*/

.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

/*== slide animation end=== */

/*=====navbar============*/
.header_part{
	background:#232323;
}
.navar_mystyle{
	background:none!important;
	border:none;
}
.navigation_style{
	margin:20px 0 0 750px;
}
.navigation_style li a{
	color:#fff!important;
	font-size:15px;	
}
.navigation_style li a:hover{
	color:#0290b3!important;
}


/*=====overriding navbar to remove small scroll============*/
.navbar-brand{
	height:90px !important;
	padding:5px 15px 15px 15px !important;
}
.logo_style{
	width:230px;
	margin:10px 0 0 0;

}
/*==================banner=============*/
.banner_img{
	background:url('img/banner_new (2).jpg') no-repeat;
	height:250px;
	margin:-20px 0 0 0;

}
.banner_img2{
	background:url('img/1.jpg') no-repeat;
	height:350px;
	margin:-40px 0 0 0;
	padding:50px;
}

.click_btn{
	
	height:40px;
	color:#000;
	font-weight:bold;
	font-size:16px;
	background:#f2ac05;
	border:none;
	border-radius:3px;
	padding:20px 20px 40px 20px;
	margin:20px 0 0 0;
}
.click_btn:hover{
	background:#f27a05;
}
.thank_u{
	color:#023c73;
	font-weight:bold;
	font-family:'para_font';
	font-size:40px;
}
.doctor_para{
	color:#4A4A4A;
	
	font-size:18px;
}
.regards{
	color:#4A4A4A;
	font-size:18px;
	margin:20px 0 0 0;
}
.team{
	color:#4A4A4A;
	font-size:18px;
	margin:0 0 20px 0;
	
}
/*===========readmore btn==============*/


.my_btn{
	width:80%;
	border:none;
	border-radius:5px;
	background:#0290b3;
	height:50px;
	margin:10px 0 30px 0;
	color:#fff;
	font-size:21px;
	transition:.3s ease;
}
.my_btn:hover{
transition:.3s ease;
border:1px solid #0290b3;
background:none;
color:#0290b3;


}

/*=================footer_part================*/
.footer_part{
	background:#272626;
	margin:0 0 0 0;
	padding:20px 0 20px 0;

}
.footer_para{
	color:#fff;
	font-size:14px;
}
.icon_style{
	width:30px;
	float:left;
	margin:0 20px 30px 0;
}
.footer_text{
	color:#fff;
	font-size:15px;

	
	
}
.social_icon{
	color:#3FBEDD;
	font-size:24px;
}


@media screen and (min-width:100px) and (max-width:480px){
	.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
.dear_head{
	color:#fff;
	
	font-family:'para_font';
	font-size:28px;
}
.dear_para{
	color:#fff;
	font-family:'para_font';
	font-size:16px;
	margin:-30px 0 0 0;
}
	

	
	body {
       overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
	
	
	.logo_style{
	width:220px;
	margin:0 0 0 0;
}

/*=====navbar============*/
.navar_mystyle{
	background:none!important;
	border:none;
	
}
.navigation_style{
	margin:20px 0 0 0;
}
.navigation_style ul li a{
	color:#1E9345;
	font-size:14px;
	
}
/*==============banner==============*/
.banner_img{
	background:url('img/banner_mobile.jpg') no-repeat;
	height:90px;
 
	margin:-20px auto;
}

.my_btn{
	width:100%;
	border:none;
	border-radius:5px;
	background:#0290b3;
	height:40px;
	margin:10px 0 30px 0;
	color:#fff;
	font-size:18px;
	transition:.3s ease;
}
.my_btn:hover{
transition:.3s ease;
border:1px solid #0290b3;
background:none;
color:#0290b3;


}

	}
/*====================640px==================*/
@media screen and (min-width:481px) and (max-width:767px){
	
	.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

	

	
	body {
       overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
	


/*=====navbar============*/
.navar_mystyle{
	background:none!important;
	border:none;
}
.navigation_style{
	margin:20px 0 0 0;
}
.navigation_style ul li a{
	color:#1E9345;
	font-size:14px;
	
}
/*==============banner==============*/
.banner_img{
	background:url('img/banner_mob.jpg') no-repeat;
	height:270px;
    background-size: cover;
	margin:0 auto;
}



.about_btn{
	border:none;
	border-radius:4px;
	background:#0290b3;
	width:120px;
	font-size:16px;
	height:45px;
	margin:5px 0 20px 20px;
	color:#fff;
	transition:.2s ease;
}
.about_btn:hover{
transition:.2s ease;
background:#43e0de;
}
}
/*=============media query ipad============*/
@media screen and (min-width:768px) and (max-width:992px){
	.container-fluid{

	}


	
	.logo_style{
	width:230px;
	margin:0 0 0 0;
}

/*=====navbar============*/
.logo_style{
	float:left!important;
	
	
}

.navar_mystyle{
	

	background:none!important;
	margin:20px 0 0 0!important;
	border:none;
}

.navigation_style li a{
	color:#1E9345;
	font-size:12px!important;
	margin:0 0 0 0!important;
	padding:0 5px 0 10px!important;
	
}
/*==============banner================*/
.banner_img{
	background:url('img/banner_tab.jpg')no-repeat!important;
	height:200px;
	width:850px!important;
    background-size: cover;
	margin:0 auto;
}

.header_part{
	background:#232323;
	
}

.about_btn{
	border:none;
	border-radius:5px;
	background:#0290b3;
	width:120px;
	height:45px;
	margin:30px 0 30px 20px;
	color:#fff;
	transition:.2s ease;
}
.about_btn:hover{
transition:.2s ease;
background:#43e0de;
}

/*=================footer_part================*/
.footer_part{
	background:#272626;
	margin:0 0 0 0;
	width:850px!important;
	padding:50px 0 50px 0;

}

}

/*=============media query ipad pro============*/
@media screen and (min-width:993px) and (max-width:1200px){
	body {
       overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
	
	.navigation_style{
	margin:25px 0 0 20px;
}





  a:link{
	  text-decoration: none;
  }

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 90%;
	background: #13BBAA;
}

.purple_background{
		background-color:#b01935;
		
	
}


.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

/*== slide animation end=== */

/*=====navbar============*/
.navar_mystyle{
	
	background:none!important;
	border:none;
}
.navigation_style{
	
	margin:15px 0 0 0;
}
.navigation_style li a{
	color:#fff!important;
	font-size:14px;	
	margin:-50px 0 0 10px;
}
.navigation_style li a:hover{
	color:#fff!important;
}

/*=====overriding navbar to remove small scroll============*/
.navbar-brand{
	height:80px !important;
	padding:5px 15px 15px 15px !important;
}
.logo_style{
	width:230px;
	margin:10px 0 0 0;

}
/*==================banner=============*/
.banner_img{
	background:url('img/banner_tab.jpg') no-repeat;
	height:400px;
	
	margin:-10px 0 0 0;

}
/*=============box part===========*/
.member_box{
margin:0 0 0 100px;


}
.blue_box{
	background:#056780;
	height:250px;
	width:300px;	
	padding:45px 40px 30px 40px;	
}

.lightblue_box{
	background:#029e91;
	height:250px;
	width:300px;
	padding:45px 40px 30px 40px;
	
}
.green_box{
	background:#22c090;
	height:250px;
	width:300px;
	padding:45px 40px 30px 40px;

}
.box_icon{
	width:126px;
}
.box_icon_doc{
	width:120px;
}
.box_icon1{
	width:165px;
}
/*==============active part============*/
.hide_para{
	display:none;
}

.active_part{

margin:10px 20px 0 90px!important;
}

.active_box{
	padding:20px;
}
.active_head{
	font-size:26px;
	color:#0e433f;
	font-weight:bold;
	margin:20px 0 0 0;
}
.active_icon_img{
	margin:40px auto;
	
	
}
.active_para{
	font-size:18px;	
	color:#484848;
	line-height:30px;
	margin:40px 0 0 50px;
}

/*===========readmore btn==============*/
.read_btn{
	width:100px;
	background:#0290b3;
	border:none;	
	border-radius:3px;
	color:#fff;
	padding:10px;
	margin:20px 0 0 55px;
}
/*===============grey background==============*/
.grey_part{
	background:#272626;
	width:1070px!important;
	padding:30px 100px 60px 100px;

}
.grey_box{
	padding:10px 30px 0 30px;
}
.grey_head{
	font-size:26px;
	color:#FFF;
	margin:0 0 0 10px;
}
.heart_icon{

	margin:40px 0 0 50px;
}
.heart_icon1{
	
	margin:34px 0 0 0;
}
.heart_icon2{
	margin:40px 0 0 30px;
}
.heart_para{
	color:#ffffff;
	font-size:16px;
	line-height:30px;
	margin:40px 0 0 0;
}
/*================feature part=================*/
.feature_part{
	padding:40px 25px 70px 50px;
}
.feature_head{
	font-size:50px;
	color:#000000;
	margin:0 0 0 10px;
	font-family:'Century Gothic';
	font-weight:bold;
}
.feature_para{
	font-size:22px;
	color:#484848;
	margin:15px 0 0 0;

}
.left_head{
	font-size:32px;
	color:#484848;
	margin:70px 0 0 0;
	font-family:'feature_font';
}
.left_para{
	font-size:18px;
	color:#484848;
	margin:20px 0 0 0;

}
.vr_line{
	height:400px;
	width:2px!important;
	background:#777777;
	margin:70px 0 0 70px;
}
/*===================Speciality===============*/
.Speciality_box{
	background:#272626;
	width:1040px!important;
	padding:50px 0 20px 0;
	
}
.Speciality_head{
	font-size:50px;
	color:#fff;
	margin:0 0 40px 10px;
	font-family:'Century Gothic';
	font-weight:bold;
}
.speciality_para1{
	font-size:20px;
	color:#ececec;
	margin:0 0 30px 0;
}

.speciality_head_heart{
	font-size:20px;
	color:#fff;
	margin:55px 0 20px 0;
	font-family:'Century Gothic';
	font-weight:bold;
}
.speciality_head_baby{
	font-size:20px;
	color:#fff;
	margin:57px 0 20px 0;
	font-family:'Century Gothic';
	font-weight:bold;
}





.speciality_head2{
	font-size:20px;
	color:#fff;
	margin:50px 0 20px 0;
	font-family:'Century Gothic';
	font-weight:bold;
}
.speciality_head_hair{
	font-size:20px;
	color:#fff;
	margin:60px 0 20px 0;
	font-family:'Century Gothic';
	font-weight:bold;
}

.speciality_heart{
	width:80px;
	margin:0 0 0 60px;
	
}

.speciality_img{
	width:90px;
	margin:0 auto;

}
.img_para2{
	font-size:16px;
	color:#ececec;
	margin:0 0 60px 0;
	line-height:26px;
}
/*====================speck para ==============*/
.Speak_part{
	padding:50px 10px 0 0;
}
.speak_head{
	font-size:40px;
	color:#484848;
	margin:30px 0 30px 0;
	font-family:'Century Gothic';
	font-weight:bold;
}
.speak_number{
	font-size:40px;
	color:#3ca7eb;
}
.speak_para{
	font-size:26px;
	color:#282828;
	margin:0 0 50px 0;
}
.speak_img{
	margin-left:auto;
	display:block;
	margin-right:auto;
	width:110px;
	padding:40px 0 20px 0;
}

/*=================about_img===============*/
.about_head{
	
}
.about_img{
	margin:30px 0 0 0;
}
.about_para{
	font-size:17px;
	color:#242424;
	margin:20px;
	padding:0 10px 0 0;
	line-height:34px;
	
}
.about_btn{
	width:140px;
	border:none;
	border-radius:3px;
	background:#0290b3;
	height:45px;
	margin:30px 0 0 20px;
	color:#fff;
	transition:.2s ease;
}
.about_btn:hover{
transition:.2s ease;

}
.hr_line{
	height:2px;
	background:#cfcfcf;
	margin:70px 0 40px 0;
}

/*=============testimonial===========*/
.carousel_testimonial{
	padding:20px 0 0 0;
}

.testimonial_para_one{
	font-size:20px;
	color:#242424;
}
.fa_icon{
	margin:50px 0 0 50px;
	color:#3ca7eb;
}
.testimonial_para_one{
	font-size:22px;
	color:#242424;
}
.name{
	font-size:14px;
	color:#242424;
	font-weight:bold;
	margin:0 0 0 110px;
}
/*=================footer_part================*/
.footer_part{
	background:#272626;
	width:1070px!important;
	margin:0 0 0 0;
	padding:50px 0 50px 0;

}
.footer_img{
	width:50%;
	margin:20px 0 30px 0;
}
.footer_text{
	color:#fff;
	font-size:16px;
	margin:0 80px 0 0;
	line-height:30px;
	
}
.link_para{
	font-size:28px;
	color:#fff;
	margin:30px 0 0 0;
}
.link_li{
	font-size:15px;
	color:#fff;
	margin:20px 0 20px 0;
}
.link_part{
	margin:0 0 0 0;
}
.link_para_two{
	font-size:19px;
	color:#fff;
	margin:20px 0 20px 0;
}
.footer_icon{
	margin:20px 20px 30px 0;
	color:#0ECDAD;
	transition:1s ease;
	cursor:pointer;
}
.footer_icon:hover{
	color:#1B68C4;
	transition:0.2s ease;
}
.footer_btn_part{
	display:none;
}
.read_less_about{
	background:#91D16E!important;
}
.less_health{
	background:#91D16E!important;
}
.less_prof{
	background:#91D16E!important;
}
.less_woman{
	background:#91D16E!important;
}

	
}