@font-face{
	font-family:'feature_font';
	src:url('assets/fonts/Cicle Semi.ttf');	
}
@font-face{
	font-family:'para_font';
	src:url('assets/fonts/Aileron-Light.otf');
}


button:focus {
	outline:0 !important;
}

.member_font{

	font-size:28px;
	color:#fff;
	margin:10px 0 0 0;	
}
  a:link{
	  text-decoration: none;
  }





/*==== slide animation===*/

.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

/*== slide animation end=== */

/*=====navbar============*/
.header_part{
	background:#232323;
}
.navar_mystyle{
	background:none!important;
	border:none;
}
.navigation_style{
	margin:20px 0 0 750px;
}
.navigation_style li a{
	color:#fff!important;
	font-size:15px;	
}
.navigation_style li a:hover{
	color:#0290b3!important;
}


/*=====overriding navbar to remove small scroll============*/
.navbar-brand{
	height:90px !important;
	padding:5px 15px 15px 15px !important;
}
.logo_style{
	width:230px;
	margin:10px 0 0 0;

}
/*==================banner=============*/
.banner_img{
	background:url('img/banner_new (2).jpg') no-repeat;
	height:250px;
	margin:-20px 0 0 0;

}
.banner_img2{
	background:url('img/1.jpg') no-repeat;
	height:350px;
	margin:-40px 0 0 0;
	padding:50px;
}

.click_btn{
	
	height:40px;
	color:#000;
	font-weight:bold;
	font-size:16px;
	background:#f2ac05;
	border:none;
	border-radius:3px;
	padding:20px 20px 40px 20px;
	margin:20px 0 0 0;
}
.click_btn:hover{
	background:#f27a05;
}
.thank_u{
	color:#023c73;
	font-weight:bold;
	font-family:'para_font';
	font-size:40px;
}
.doctor_para{
	color:#4A4A4A;
	
	font-size:18px;
}
.regards{
	color:#4A4A4A;
	font-size:18px;
	margin:20px 0 0 0;
}
.team{
	color:#4A4A4A;
	font-size:18px;
	margin:0 0 20px 0;
	
}
/*===========readmore btn==============*/


.my_btn{
	width:80%;
	border:none;
	border-radius:5px;
	background:#0290b3;
	height:50px;
	margin:10px 0 30px 0;
	color:#fff;
	font-size:21px;
	transition:.3s ease;
}
.my_btn:hover{
transition:.3s ease;
border:1px solid #0290b3;
background:none;
color:#0290b3;


}
br {
    display: none;
}

/*=================footer_part================*/
.footer_part{
	background:#272626;
	margin:0 0 0 0;
	padding:20px 0 20px 0;

}
.footer_para{
	color:#fff;
	font-size:17px;
}
.icon_style{
	width:30px;
	float:left;
	margin:0 20px 30px 0;
}
.footer_text{
	color:#fff;
	font-size:17px;

	
	
}
.en_icon{
	color:#3FBEDD;
	font-size:24px;
	padding:0 10px 0 0;
}
.social_icon{
	color:#3FBEDD;
	font-size:24px;
}
.footer_para_contact{
	color:#3FBEDD;
	font-size:20px;
}
.copy_para{
	color:#939393;
	font-size:14px;
	padding:10px 0 0 0;
}
.no_displayWeb{
	display:none;
}

@media screen and (min-width:100px) and (max-width:375px){
	.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
.dear_head{
	color:#fff;
	
	font-family:'para_font';
	font-size:28px;
}
.dear_para{
	color:#fff;
	font-family:'para_font';
	font-size:16px;
	margin:-30px 0 0 0;
}
	
.thank_u{
	color:#023c73;
	font-weight:bold;
	font-family:'para_font';
	font-size:40px;
	padding:10px 0 0 0;
}
	
	body {
       overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
	
	
	.logo_style{
	width:220px;
	margin:0 0 0 0;
}


/*==============banner==============*/
.no_displayWeb{
	display:block;
	background:#023c73;
	padding:15px 0 15px 0;
}
.Celebrating_head{
	font-family:'arial';
	font-size:16px;
	color:#9be5f5;
	font-weight:bold;
	margin:25px 0 5px 0;
	
}
.Celebrating_para{
	font-family:'arial';
	font-size:13px;
	color:#fff;
	
	margin:0 0 15px 0;
}
.banner_img{
display:none!important;
}
.mob_logo{
	width:200px;
	margin:0 auto;
	
}

.my_btn{
	width:100%;
	border:none;
	border-radius:5px;
	background:#0290b3;
	height:60px!important;
	margin:15px 0 25px 0!important;
	color:#fff;
	font-size:16px;
	padding:10px 0 0 0;
	transition:.3s ease;
}
.my_btn:hover{
transition:.3s ease;
border:1px solid #0290b3;
background:none;
color:#0290b3;


}
br {
    display: block;
}

	}
/*========================iphone===============*/

@media screen and (min-width:376px) and (max-width:731px){
	.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
.dear_head{
	color:#fff;
	
	font-family:'para_font';
	font-size:28px;
}
.dear_para{
	color:#fff;
	font-family:'para_font';
	font-size:16px;
	margin:-30px 0 0 0;
}
	
.thank_u{
	color:#023c73;
	font-weight:bold;
	font-family:'para_font';
	font-size:40px;
	padding:10px 0 0 0;
}
	
	body {
       overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
	
	
	.logo_style{
	width:220px;
	margin:0 0 0 0;
}


/*==============banner==============*/
.no_displayWeb{
	display:block;
	background:#023c73;
	padding:30px 0 30px 0;
}
.Celebrating_head{
	font-family:'arial';
	font-size:18px;
	color:#9be5f5;
	font-weight:bold;
	margin:20px 0 5px 0;
	
}
.Celebrating_para{
	font-family:'arial';
	font-size:15px;
	color:#fff;
	
	margin:0 0 20px 0;
}
.banner_img{
display:none!important;
}
.mob_logo{
	width:200px;
	margin:0 auto;
	
}

.my_btn{
	width:100%;
	border:none;
	border-radius:5px;
	background:#0290b3;
	height:50px;
	margin:10px 0 30px 0;
	color:#fff;
	font-size:18px;
	padding:15px 0 0 0;
	transition:.3s ease;
}
.my_btn:hover{
transition:.3s ease;
border:1px solid #0290b3;
background:none;
color:#0290b3;


}
br {
    display: block;
}

	}
	/*====================ipad===================*/
	
@media screen and (min-width:732px) and (max-width:1024px){
	.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
.dear_head{
	color:#fff;
	
	font-family:'para_font';
	font-size:28px;
}
.dear_para{
	color:#fff;
	font-family:'para_font';
	font-size:16px;
	margin:-30px 0 0 0;
}
	
.thank_u{
	color:#023c73;
	font-weight:bold;
	font-family:'para_font';
	font-size:40px;
	padding:10px 0 0 0;
}
	
	body {
       overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
	
	
	.logo_style{
	width:220px;
	margin:0 0 0 0;
}


/*==============banner==============*/
.no_displayWeb{
	display:block;
	background:#023c73;
	padding:30px 0 30px 0;
}
.Celebrating_head{
	font-family:'arial';
	font-size:16px;
	color:#9be5f5;
	font-weight:bold;
	margin:25px 0 5px 0;
	
}
.Celebrating_para{
	font-family:'arial';
	font-size:13px;
	color:#fff;
	
	margin:0 0 20px 0;
}
.banner_img{
display:none!important;
}
.mob_logo{
	width:200px;
	margin:0 auto;
	
}

.my_btn{
	width:100%;
	border:none;
	border-radius:5px;
	background:#0290b3;
	height:50px;
	margin:10px 0 30px 0;
	color:#fff;
	font-size:18px;
	padding:15px 0 0 0;
	transition:.3s ease;
}
.my_btn:hover{
transition:.3s ease;
border:1px solid #0290b3;
background:none;
color:#0290b3;


}

	}


